# Python cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# Model files 
models/*.joblib

# Results
results/*.txt

# Environment secrets
.env
*.env

# screenshots

assets/*.png
