# Core Python Libraries
numpy
pandas

# Visualization
matplotlib
seaborn

# Machine Learning & Preprocessing
scikit-learn

# Model Saving / Loading
joblib

# Web App UI
streamlit

# Deployment Helper (Ngrok)
pyngrok

# Utilities
scipy
